@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Orbitron", sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(hsl(0, 0%, 10%), hsl(0, 0%, 0%));
}
